/.vscode/.ropeproject/config.py
/.vscode/.ropeproject/objectdb
/__pycache__/josephus.cpython-37.pyc
/src/__pycache__/josephus.cpython-37.pyc
/src/__pycache__/__init__.cpython-37.pyc
/src/.vscode/.ropeproject/objectdb
/src/.vscode/.ropeproject/config.py
/tests/__pycache__/classtest.cpython-37.pyc
/src/file_reader/__pycache__/__init__.cpython-37.pyc
/src/file_reader/__pycache__/file_reader.cpython-37.pyc
/src/josephus/__pycache__/__init__.cpython-37.pyc
/src/josephus/__pycache__/josephus.cpython-37.pyc
/src/person/__pycache__/__init__.cpython-37.pyc
/src/person/__pycache__/person.cpython-37.pyc
/tests/file_reader/__pycache__/test_file_reader.cpython-37.pyc
/tests/josephus/__pycache__/test_josephus.cpython-37.pyc
/tests/person/__pycache__/test_person.cpython-37.pyc
/tests/__pycache__/__init__.cpython-37.pyc
/tests/file_reader/__pycache__/__init__.cpython-37.pyc
/tests/josephus/__pycache__/__init__.cpython-37.pyc

# mypy
.mypy_cache/

/.vscode/settings.json
/__pycache__/test.cpython-37.pyc
/src/user_interface/__pycache__/__init__.cpython-37.pyc
/src/user_interface/__pycache__/user_interface.cpython-37.pyc
/src/user_interface/__pycache__/call_qt_graphic_interface.cpython-37.pyc
/src/user_interface/__pycache__/qt_graphic_interface.cpython-37.pyc
/src/user_interface/__pycache__/text_interface.cpython-37.pyc
/src/adapters/__pycache__/__init__.cpython-37.pyc
/src/adapters/__pycache__/file_reader.cpython-37.pyc
/src/adapters/__pycache__/file_reader_use_case.cpython-37.pyc
/src/domain/__pycache__/__init__.cpython-37.pyc
/src/domain/__pycache__/josephus.cpython-37.pyc
/src/domain/__pycache__/person.cpython-37.pyc
/src/use_cases/__pycache__/__init__.cpython-37.pyc
/src/use_cases/__pycache__/josephus_use_case.cpython-37.pyc
/tests/adapters/__pycache__/__init__.cpython-37.pyc
/tests/adapters/__pycache__/test_file_reader.cpython-37.pyc
/tests/adapters/__pycache__/test_file_reader_use_case.cpython-37.pyc
/tests/domain/__pycache__/__init__.cpython-37.pyc
/tests/domain/__pycache__/test_josephus.cpython-37.pyc
/tests/domain/__pycache__/test_person.cpython-37.pyc
/tests/use_cases/__pycache__/__init__.cpython-37.pyc
/tests/use_cases/__pycache__/test_josephus_use_case.cpython-37.pyc
/src/user_interface/__pycache__/file_reader.cpython-37.pyc
/src/user_interface/__pycache__/file_reader_use_case.cpython-37.pyc
/tests/user_interface/__pycache__/__init__.cpython-37.pyc
/tests/user_interface/__pycache__/test_file_reader.cpython-37.pyc
/tests/user_interface/__pycache__/test_file_reader_use_case.cpython-37.pyc
